html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

nav {
    height: 2rem;
    margin: 0px;
    box-shadow: 0px 1px 1px transparentize(black, 0.8);
    z-index: 2;
}

.side-menu {
    position: absolute;
    z-index: 1;
    width: 30rem;
    top: 50px;
    bottom: 0;
    box-shadow: 0px 1px 1px transparentize(black, 0.8);
    transition: left 1s;
    background-color: white;

    &.in {
        left: -30rem;
    }

    &.out {
        left: 0rem;
    }

}

.map-container {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50px;
    bottom: 0;
}

.input[type=text] {
    //position:absolute;
    top: 10px;
    margin: 100px auto;
    white-space: nowrap;
    position: relative;
    width: 130px;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}