<template name="nav">
    <div id="site-navbar" class="navbar navbar-default">
        <div class="navbar-header"> 
            <div id="menu-btn" class="navbar-brand clickable"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
        </div>
        
        <div id="nav-search-wrapper" class="form-group has-feedback">
            <label class="control-label sr-only" for="location-search-nav">Location Search</label>
            <input type="text" id="location-search-nav" class="form-control" name="location-search" placeholder="Enter a location" value="{{getCurrentSearch}}">
            <i class="glyphicon glyphicon-search form-control-feedback"></i>
        </div>
    </div>

    <div id="side-menu" class="{{getState}}">
        <p>
            <input type="text" id="location-search-menu" class="form-control" name="location-search" placeholder="Enter a location" value="{{getCurrentSearch}}" />
        </p>

        <p>
            <h2>Filter</h2>
            <ul class="filter {{getState}}"> 
                <button type="button" class="btn btn-info">Flooding</button>
                <button type="button" class="btn btn-info">Temperature</button>
            </ul> 
        </p>

        <p>
            <h2><a data-toggle="collapse" href="#collapse" aria-expanded="false" aria-controls="collapseFavs">Favorites</a></h2>
            <ul class="favorites {{getState}}"> 
               <div id="collapse" class="panel-collapse collapse in"> 
                <li class="list-group-item">Fav1</li>
                <li class="list-group-item">Fav2</li>
                <li class="list-group-item">Fav3</li>
            </div>
            </ul> 
        </p>

        <p>
            <h2>Sign In</h2>
            <div>Facebook Stuff</div>
        </p>
    </div>
</template>
