<template name="nav">
    <div id="site-navbar" class="navbar navbar-default">
        <div class="navbar-header"> 
            <div id="menu-btn" class="navbar-brand clickable"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
        </div>
        <input type="text" id="location-search-nav" class="form-control" name="location-search" placeholder="Enter a location" value="{{getCurrentSearch}}" />
    </div>

    <div id="side-menu" class="{{getState}}">
        <p>
            <input type="text" id="location-search-menu" class="form-control" name="location-search" placeholder="Enter a location" value="{{getCurrentSearch}}" />
        </p>

        <p>
            <h2>Filter</h2>
            <ul class="filter {{getState}}"> 
                <li><a href="#">Flooding</a></li> 
                <li><a href="#">Temperature</a></li>
            </ul> 
        </p>

        <p>
            <h2>Favorites</h2>
            <ul class="favorites {{getState}}"> 
                <li><a href="#">Fav1</a></li>
                <li><a href="#">Fav2</a></li>
                <li><a href="#">Fav3</a></li>
            </ul> 
        </p>

        <p>
            <h2>Sign In</h2>
            <div>Facebook Stuff</div>
        </p>
    </div>
</template>
